# Server Port
PORT=5000

# PostgreSQL Database Connection URL (Local or Cloud Neon.tech)
DATABASE_URL="postgresql://username:password@ep-cool-sample.neon.tech/split_db?sslmode=require"

# Optional Cloud Redis Connection URL (Upstash or local)
REDIS_URL="redis://default:token@cool-sample.upstash.io:6379"

# Secret Key used to digitally sign JWT Tokens
JWT_SECRET="super_secret_jwt_key_split_app_2026"
